<div
  class="modal fade"
  id="visasModal"
  tabindex="-1"
  aria-labelledby="visasLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="visasLabel">Detalle Visas</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="valorVisa" class="form-label">Valor Visa</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="valorVisa"
                [(ngModel)]="valorVisa"
                [disabled]="!isEdit"
                name="valorVisa"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="iniciarEdicion()"
                *ngIf="!isEdit"
              >
                Editar
              </button>
              <button
                class="btn btn-outline-primary"
                type="button"
                (click)="guardarCambios()"
                *ngIf="isEdit"
              >
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
